@font-face {
    font-family: 'product-sans';
    src: url(/Product\ Sans\ Bold.ttf);
}
@font-face {
    font-family: 'open_sans';
    src: url(/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family:open_sans;
    box-sizing: border-box;
}
.showcase{
     position: absolute;
     right: 0;
     top: 0;
     width: 100%;
     min-height: 100vh;
     padding: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     color: white;
     z-index: 2;
     transition: 1s;

     
}
.showcase.active{
    right: 300px;

}
.showcase header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 40px 30px;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: space-between;

}
.logo{
    text-transform: uppercase;
    cursor: pointer;
    font-family: product-sans;
}
.menu{
    display: none;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
     background: url(./menu_FILL0_wght400_GRAD0_opsz48.png);
     filter: invert(1);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    

}
.toggle.active{
    background: url(./close_FILL0_wght400_GRAD0_opsz48.png); 
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
    

}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(1, 13, 17);
    mix-blend-mode: overlay;
}
.text{
   
    z-index: 10;
    
}
.text h2{
    font-size: 5rem;
    font-weight: 800;
   font-family: product-sans;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 10px;
    max-width: 700px;
}
.text h3{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1rem;
    font-family: product-sans;
    text-transform: uppercase;
    padding: 30px 0 50px 0;
}
.ex{
    font-size: 5rem;
    font-weight: 800;
    line-height: 1rem;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 10px;
}
.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;

}
.text a{
    display: inline-block;
    font-size: 1rem;
    background: blanchedalmond;
    padding: 10px 30px;
    text-decoration: none;
    color: cadetblue;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s;

}
.text a:hover{
    letter-spacing: 6px;
}
.social{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-right: 10px;
    
}
.social li{
    list-style: none;
    
}
.social li a{
   display: inline-block;
 filter: invert(1);
   margin-right: 20px;
   transform: scale(0.5);
   transition: 0.5s;
  
}
.social li a:hover{
    transform: scale(0.5) translateY(-15px);
    
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    position: relative;
    list-style: none;

}
.menu ul li a{
    text-decoration:none ;
    font-size: 24px;
    color: #000;
}
.menu ul li a:hover{
    color: cadetblue;
}
@media (max-width:891px) {
    .showcase,.showcase header {
        padding: 40;
    }
    .text h2 { 
        font-size: 3rem;

    }
    .text h3{
        font-size: 2rem;
    }
}
img{
    width: 2rem;
}
.right{
    position: absolute;
    bottom: 10px;
   right: 10px;
    color: blanchedalmond;
    font-size: 10px;
    z-index: 150px;
}

